[Unit]
Description=Healthlin Backend API
After=network.target orthanc.service
Wants=orthanc.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/healthlin/backend
ExecStart=/opt/healthlin/venv/bin/python app.py
Restart=always
RestartSec=5

Environment=ORTHANC_URL=http://localhost:8042
Environment=ORTHANC_USER=admin
Environment=ORTHANC_PASS=1234
Environment=ORTHANC_CREDENTIALS_PATH=/etc/orthanc/credentials.json
Environment=JWT_SECRET=332291180@*p
Environment=FLASK_ENV=production
Environment=DB_PATH=/opt/healthlin/backend/healthlin.db
Environment=FRONTEND_DIST=/opt/healthlin/frontend/dist

[Install]
WantedBy=multi-user.target
